.grid{
    width:100%;
    border: 2px solid brown;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

}
.box1{
    background-color: teal;
}

.box2{
    background-color: azure;
}

.box3{
    background-color: rosybrown;
}

.box4{
    background-color: brown;
}

.box5{
    background-color: indigo;
}

.box6{
    background-color: beige;
}