h1{
    background-color: antiquewhite;
    font-size: 30px;
    color: blueviolet;
}
.p1{
    background-color: antiquewhite;
    font-size: 30px;
    color: rgb(8, 1, 16);
    font-size: italic;
}
.p2{
    background-color: antiquewhite;
    font-size: 30px;
    color: rgb(43, 226, 80);
    font-size: italic;
}
.p3{
    background-color: antiquewhite;
    font-size: 30px;
    color: rgb(28, 140, 205);
    font-size: italic;
}
.p3:hover{
    background-color: orange;
    color: blueviolet;
}
img[alt]{
    color: aqua;
}
a[href]{
    color: pink;
}